.dark-mode {
    --bg-color: #0f172a;
    --text-color: #f8fafc;
}

.light-mode {
    --bg-color: #f8fafc;
    --text-color: #0f172a;
    --card-bg: #e2e8f0;
}

body.light-mode {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.btn {
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    transition: var(--transition);
}

.primary { background: var(--primary-color); color: #000; }
.primary:hover { transform: translateY(-3px); box-shadow: 0 10px 20px rgba(0,255,136,0.3); }